<div class="profile">
  <div class="profileRight">
    <div class="profileDesc">
      <h3>IT Professional</h3>
      <ul>
        <li>CompTIA A+ certified.</li>
        <li>Working IT professional since 2014.</li>
        <li>Building and repairing computers since 1998.</li>
        <li>Tinkering with all manner of tech since 1995.</li>
        <li class="liNoStyle"><h4>Skills, Tools, and Software</h4></li>
        <ul>
          <li>Windows 3.1-10; Server 2003-2012</li>
          <li>Office 2007-2016 and 365</li>
          <li>Active Directory</li>
          <li>SolarWinds</li>
          <li>BMC Remedy</li>
          <li>Altiris Deployment Server</li>
      </ul>
      <nbsp />
      <!--<h3>Web Developer</h3>
      <ul>
        <li>Node.js</li>
        <li>AngularJS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>SQL</li>
        <li>CSS</li>
        <li>HTML</li>
      </ul>-->
    </div><!--profileDesc-->
  </div><!--profileRight-->
</div><!--profile-->
