<div class="contentWrap">
    
<div class="singleBoxWrap">
  <a href="#">
    <div class="portfolioBox">
      <div class="portfolioBoxShadow"></div>
      <div class="boxLabel">Back It All</div>
      <div class="workDescrip">
       <p>...a concept logo design for an online backup service.</p>
     </div>
      <img src="../images/work/backItAll.png" />
    </div>
  </a>
</div>

<div class="singleBoxWrap">
  <a href="#">
    <div class="portfolioBox">
      <div class="boxLabel">Lorem Ipsum</div>
      <div class="workDescrip">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </a>
</div>

<div class="singleBoxWrap">
  <a href="#">
  <div class="portfolioBox">
    <div class="boxLabel">Lorem Ipsum</div>
    <div class="workDescrip">
      <p>Vivamus luctus dui quis ullamcorper porttitor.</p>
    </div>
  </div>
</div>

<div class="singleBoxWrap">
  <a href="#">
    <div class="portfolioBox">
      <div class="boxLabel">Lorem Ipsum</div>
      <div class="workDescrip">
        <p>Vivamus luctus dui quis ullamcorper porttitor.</p>
      </div>
    </div>
  </a>
</div>

<div class="singleBoxWrap">
  <a href="#">
    <div class="portfolioBox">
      <div class="boxLabel">Lorem Ipsum</div>
      <div class="workDescrip">
        <p>Vivamus luctus dui quis ullamcorper porttitor.</p>
      </div>
    </div>
  </a>
</div>

<div class="singleBoxWrap">
  <a href="#">
    <div class="portfolioBox">
      <div class="boxLabel">Lorem Ipsum</div>
      <div class="workDescrip">
        <p>Vivamus luctus dui quis ullamcorper porttitor.</p>
      </div>
    </div>
  </a>
</div>

<div class="singleBoxWrap">
  <a href="#">
    <div class="portfolioBox">
      <div class="boxLabel">Lorem Ipsum</div>
      <div class="workDescrip">
        <p>Vivamus luctus dui quis ullamcorper porttitor.</p>
      </div>
    </div>
  </a>
</div>
  
</div>
